<!doctype html>
<html lang="ua">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансії</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>      
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/34068939?query=java">Java Developer (Gdansk, Poland)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">NATEK</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/33572682?query=java">Менеджер з питань керування вразливостями</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Райффайзен Банк Аваль</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/33943914?query=java">Business Process Automation Technical Specialist (SQL, JavaScript)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Adecco Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/33694862?query=java">Senior IT Recruiter</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/33988436?query=java">Strong Junior PHP / Joomla Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Israel IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>